<ul>
  <% @user.clients.each do |client| %>
    <li>
      <%= client.id %>
      <%= client.first_name %>
      <p>step: <%= client.project.step %></p>
      <% if client.project.documentation? %>
        <% client.project.documents.each do |document| %>
          <%= document.file? ? "Ok" : "non" %>
        <% end %>
        <%= link_to 'Next step', next_setp_api_v1_project_path(client.project), :method=> :PATCH %>
      <% end %>
    </li>
  <% end %>
</ul>
