<!-- html de l'application -->

<% if @user.is_a_client %>
  <div id="app"
    data-user="<%= @user.to_json %>"
    data-project="<%= @project.to_json %>"
    data-fma_team="<%= @fma_team.to_json %>"
    data-solutions="<%= @solutions.to_json %>"
    >
  </div>

<!-- fin -->

  <!-- data-disconnect="<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>" -->


<!-- DELETE -->
  <div class="top-corner-left">
    <%= link_to "API", api_v1_user_project_path(@user, @project), target: "_blank" %>

    <%#= link_to "Form", analyze_api_v1_visitor_path(@visitor), target: "_blank"%>
  </div>

<% else %>
  <%= pluralize(@projects.count, 'Project') %>
  <%= pluralize(@clients.count, 'Client') %>
<% end %>
<!-- fin -->

  <style>
    .top-corner-left{
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .top-corner-left a{
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #2675e5;
      background-color: #2675e5;
      color: white;
      cursor: pointer;
    }
    .top-corner-left a:hover{
      color: #2675e5;
      background-color: transparent;
    }
  </style>
<!-- fin DELETE -->
