<img class="absolute" style="top: 0; right: 0; width: 50vw;" src="https://res.cloudinary.com/financermonautonomie/image/upload/v1559381956/Illu%20HP/BG_djr1o2.svg" alt="">
<%= render "shared/navbar" %>

<div class="container">

  <!-- Questionnaire -->
  <div class="row">
    <div class="col-lg-5 col-xs-12">

      <h1 class="no-margin">Résilier mot de passe</h1>
      <p class="margin-bottom-30">Renseignez votre adresse email de connection, nous vous enverrons un email avec la marche à suivre.</p>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Confirmer", class: "btn-blue w-100" %>
        </div>
      <% end %>

      <p class="margin-top-15">Vous avez un compte ? <%= link_to "Connectez-vous ici", new_session_path(resource_name) %>.</p>
    </div>
    <div class="image-connexion col-lg-7 d-none d-sm-block"></div>
  </div>

</div>



<%#= render "devise/shared/links" %>
