<!-- CTA -->
  <div class="margin-top-120 CTA-padding">
    <div class="inscription-newsletter blue-background">
      <div class="margin-right-30">
        <h1 class="white margin-right-30 no-margin">Estimez les aides à votre disposition</h1>
        <p class="gray-300 margin-bottom-30-xs">Vous utilisez déjà financer mon autonomie ? <%= link_to "Connectez-vous", new_user_session_path, class: "gray-300" %></p>
      </div>
      <%= link_to "Découvrir", home_path, class: "btn-gris text-align-center" %>
    </div>
  </div>

<footer>
  <div class="row">
    <div class="col-lg-3 col-xs-12">
      <p class="blue margin-bottom-30">Financer mon autonomie</p>
      <p class="margin-bottom-30">8 rue de la porte 94370 Sucy-en-brie</p>
      <p>contact@bel-avie.com</p>
    </div>
    <div class="col-lg-3 col-xs-12">
      <p class="blue margin-bottom-30 margin-top-60-xs">À propos</p>
      <p class="margin-bottom-15"><%= link_to "Qui sommes-nous ?", equipe_path %></p>
      <p class="margin-bottom-15"><%= link_to "CGU & CGV", cgu_path %></p>
      <p><%= link_to "Protection des données", rgpd_path %></p>
    </div>
    <div class="col-lg-6 col-xs-12">
      <p class="black margin-bottom-30 margin-top-60-xs">Restez informé de notre actualité</p>
      <div class="row margin-bottom-30">
        <div class="col-lg-8 input-wth-icon">
          <i class="fas fa-envelope"></i>
          <input class="gray-300-border" type="text" placeholder="Entrez votre mail" style="width: 100%;">
        </div>
        <div class="col-lg-4 margin-top-15-xs">
          <button class="btn-blue">S'inscrire</button>
        </div>
      </div>
      <div class="row">
        <a href="" class="col-lg-2 gray-300 d-none d-sm-block">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="col-lg-2 gray-300 d-none d-sm-block">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="" class="col-lg-2 gray-300 d-none d-sm-block">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
  <hr class="margin-top-120 ligne-horizontal gray-300-background">
  <div class="row">
    <p class="gray-300 col-lg-5 col-xs-12">Tous droits réservés © 2019 <a class="blue" href="http://www.bel-avie.com/" target="_blank">Bel'Avie</a></p>
    <p class="gray-300 offset-lg-2 col-lg-5 col-xs-12 text-align-right text-align-left-xs">Créé par <a class="link-avem" href="https://www.avemcreation.com/" target="_blank">Avem Création</a></p>
  </div>
</footer>
