<div id="navbar" class="navbar navbar-expand-sm navbar-lewagon fixed" style="z-index: 6;">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= render "shared/illustrations/logo" %>
  <% end %>

  <div class="flex align-items-center">
    <%= link_to "Accueil", home_path, class: "margin-right-30 d-none d-sm-block" %>
    <%= link_to "Qui sommes-nous ?", equipe_path, class: "margin-right-30 d-none d-sm-block" %>
    <% if user_signed_in? %>
      <div class="btn-group pointer" role="group">
        <div id="drop-navbar" class="dropdown-toggle flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <p class="text-align-right d-none d-sm-block">Bonjour, <%= current_user.first_name %> <%= current_user.last_name %></p>
          <% if current_user.avatar? %>
            <div
              class="navbar-avatar"
              style="min-height: 35px; min-width: 35px; background-image: url(<%= current_user.avatar.url(:bright_face) %>);"
              >
            </div>
          <% else %>
            <div
              class="navbar-avatar"
              style="height: 35px; width: 35px"
              ><%= current_user.first_name[0] %><%= current_user.last_name[0] %>
            </div>
          <% end %>
        </div>
        <div class="dropdown-menu" aria-labelledby="drop-navbar">
          <p><%= link_to "Mon compte", user_path(current_user) if current_user.present? %></p>
          <p><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></p>
        </div>
      </div>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "nav-link btn-blue" %>
    <% end %>
  </div>
</div>

<div class="navbar-padding"></div>

<!-- Link to my account -->
