<img class="absolute d-none d-sm-block" style="top: 0; right: 0; width: 50vw;" src="https://res.cloudinary.com/financermonautonomie/image/upload/v1559381956/Illu%20HP/BG_djr1o2.svg" alt="">

<div class="container">
<!-- Questionnaire -->
    <div class="row margin-top-60">
      <div class="col-lg-5 col-xs-12" id="formulary-form">
        <div class="formulary-border"></div>
        <div id="formulary" data-visitor="<%= @visitor.id %>"></div>
      </div>
      <div class="hp_01 col-lg-7 d-none d-sm-block" >
      </div>
    </div>

  <!-- Process -->
    <div class="row margin-top-60 align-items-center">
      <!-- titre process -->
        <h1 class="col-lg-8 offset-lg-2 col-xs-12 text-align-center">Le premier conseiller digital pour financer l’adaptation de votre logement</h1>
        <p class="col-lg-8 offset-lg-2 col-xs-12 text-align-center margin-bottom-60">Financer mon autonomie est une plateforme intuitive adaptés à toutes les personnes qui fonctionne en 3 étapes.</p>
      <!-- liste process -->
      <div class="hp_02 col-lg-7 col-xs-12" ></div>
      <div class="col-lg-5 col-xs-12">
        <h1>01. Une étude d'éligibilité gratuite.</h1>
        <p class="margin-bottom-30">Grâce à nos questions, Sam, notre conseiller digital, vous aidera en quelques minutes à établir un profil d’aide à l’aménagement de votre logement.<br><br>À l’issue de ce dernier des solutions de financement vous seront proposé, ainsi que l’ensemble des démarches à accomplir auprès de nos partenaires financeurs.</p>
        <a class="blue" href="">En savoir plus sur l'éligibilité gratuite</a>
      </div>

      <div class="col-lg-5 col-xs-12 margin-top-60">
        <h1>02. Un expert à votre écoute.</h1>
        <p class="margin-bottom-30">Gérez la suite de votre demande de financement avec l’assistance d’un conseiller. A travers votre espace personnel vous établirez ensemble le dossier nécessaire à votre demande de financement.<br><br>De plus un chatbot présent sur l’ensemble de la plateforme vous permettra d’échanger avec une personne de notre équipe.</p>
        <a class="blue" href="">En savoir plus sur l'éligibilité gratuite</a>
      </div>
      <div class="hp_03 col-lg-7 margin-top-60 d-none d-sm-block" ></div>

      <div class="hp_04 col-lg-7 margin-top-60 d-none d-sm-block" ></div>
      <div class="col-lg-5 col-xs-12 margin-top-60">
        <h1>03. Une information clair sur les financements.</h1>
        <p class="margin-bottom-30">Retrouvez à travers votre espace personnel l’ensemble des informations nécessaires à la construction de votre dossier d’aide au financement. Chargez les documents légaux demandés, fixé un rendez-vous avec votre conseiller, et consulté à tout moment l’avancé de votre dossier.<br>L’ensemble de ces étapes permettra de vous apporter l’information et l’assistance les plus adaptées.</p>
        <a class="blue" href="">En savoir plus sur l'éligibilité gratuite</a>
      </div>
    </div>

  <!-- Avantages -->
    <div class="row margin-top-60">
      <!-- titre avantages -->
        <h1 class="col-lg-6 offset-lg-3 col-xs-12 text-align-center">Pourquoi choisir financer mon autonomie ?</h1>
        <p class="col-lg-8 offset-lg-2 col-xs-12 text-align-center margin-bottom-60">Nous allions l’expertise humaine médico-sociale à une technologie intuitive.</p>
      <!-- liste avantages -->
        <div class="col-lg-3 col-xs-12" style="padding: 0 30px;">
          <div class="avantage margin-top-60 no-margin-xs">
            <div class="avantage-icon margin-bottom-30">
              <i class="blue far fa-comments"></i>
            </div>
            <h3>Étude d'éligibilité instantanée</h3>
            <p class="margin-bottom-15">En répondant à nos questions, vous bénéficiez d’informations adaptées, et comparées à une dizaine de types de financeurs légaux ou extra-légaux.</p>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12 margin-top-30-xs" style="padding: 0 30px;">
          <div class="avantage">
            <div class="avantage-icon margin-bottom-30">
              <i class="blue fas fa-network-wired"></i>
            </div>
            <h3>Intelligence artificielle</h3>
            <p class="margin-bottom-15">Sam, notre conseiller digital, analyse et compare quotidiennement de nombreuses données afin d’estimer au mieux votre éligibilité auprès de nos financeurs.</p>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12 margin-top-30-xs" style="padding: 0 30px;">
          <div class="avantage margin-top-60 no-margin-xs">
            <div class="avantage-icon margin-bottom-30">
              <i class="blue fas fa-stopwatch"></i>
            </div>
            <h3>Un service 24h sur 24h</h3>
            <p class="margin-bottom-15">A tout moment, via Sam, vous pouvez bénéficier d’un diagnostic personnalisé, avec en journée l’appuie de notre équipe de conseiller.</p>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12 margin-top-30-xs" style="padding: 0 30px;">
          <div class="avantage">
            <div class="avantage-icon margin-bottom-30">
              <i class="blue fas fa-phone"></i>
            </div>
            <h3>Accompagnement personnalisé</h3>
            <p class="margin-bottom-15">Après avoir étudier votre éligibilité, profitez de l’accompagnement d’un conseiller au travers d’un espace personnel qui vous est dédié.</p>
          </div>
        </div>
    </div>

  <!-- Show maquette -->
    <div class="row margin-top-120 d-none d-sm-block">
      <h1 class="col-lg-6 offset-lg-3 text-align-center">Concentrez vous sur l'essentiel avec votre espace personnel.</h1>
      <p class="col-lg-8 offset-lg-2 text-align-center margin-bottom-60">Bénéficiez d’un espace sécurisé pour partager vos données avec nos experts. Nous partagerons aussi avec vous un certains nombres de pièces nécessaires.</p>
    </div>

    <div id="carousel_maquettes" class="carousel slide d-none d-sm-block" data-ride="carousel">
      <div class="carousel-indicators flex no-margin margin-bottom-30">
        <p data-target="#carousel_maquettes" data-slide-to="0" class="active text-align-center">Documents à soumettre</p>
        <p data-target="#carousel_maquettes" data-slide-to="1" class="text-align-center">Prise de rendez-vous</p>
        <p data-target="#carousel_maquettes" data-slide-to="2" class="text-align-center">Kit de financement</p>
        <p data-target="#carousel_maquettes" data-slide-to="3" class="text-align-center">Suivi personnalisé</p>
        <p data-target="#carousel_maquettes" data-slide-to="4" class="text-align-center">Réglages du compte</p>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel_01 d-block w-100"></div>
        </div>
        <div class="carousel-item">
          <div class="carousel_02 d-block w-100"></div>
        </div>
        <div class="carousel-item">
          <div class="carousel_03 d-block w-100"></div>
        </div>
        <div class="carousel-item">
          <div class="carousel_04 d-block w-100"></div>
        </div>
        <div class="carousel-item">
          <div class="carousel_05 d-block w-100"></div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carousel_maquettes" role="button" data-slide="prev">
        <%= render "shared/illustrations/arrow_left" %>
      </a>
      <a class="carousel-control-next" href="#carousel_maquettes" role="button" data-slide="next">
        <%= render "shared/illustrations/arrow_right" %>
      </a>


    </div>

  <!-- inscription newsletter -->
    <div class="margin-top-120 inscription-newsletter-padding">
      <div class="inscription-newsletter blue-background">
        <p class="white margin-right-15 no-margin-xs margin-bottom-30-xs flex-grow-1">Souscrire à la Newsetter pour plus d'informations</p>
        <div class="input-wth-icon margin-right-15 no-margin-xs margin-bottom-15-xs">
          <i class="fas fa-envelope"></i>
          <input type="text" placeholder="Entrez votre mail" style="width: 100%;">
        </div>
        <button class="btn-gris">S'incrire</button>
      </div>
    </div>

  <!-- témoignages -->
    <div class="row margin-top-120">
      <h1 class="col-lg-6 offset-lg-3 text-align-center">Pourquoi ont-ils fait appel à nous ?</h1>
      <p class="col-lg-8 offset-lg-2 text-align-center margin-bottom-60">Rejoignez la communauté des bénéficiaires satisfaits !</p>
    </div>

    <div class="temoignages">
      <div class="temoignage">
        <div class="avatar margin-top-60"></div>
        <div class="text-temoignage">
          <h4 class="no-margin black">Martin Legrand</h4>
          <p class="margin-bottom-15">Rénovation intérieur</p>
          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        </div>
      </div>
      <div class="temoignage">
        <div class="avatar delay1"></div>
        <div class="text-temoignage">
          <h4 class="no-margin black">Martin Legrand</h4>
          <p class="margin-bottom-15">Rénovation intérieur</p>
          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        </div>
      </div>
      <div class="temoignage">
        <div class="avatar margin-top-30"></div>
        <div class="text-temoignage">
          <h4 class="no-margin black">Martin Legrand</h4>
          <p class="margin-bottom-15">Rénovation intérieur</p>
          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        </div>
      </div>
      <div class="temoignage">
        <div class="avatar delay2 margin-top-60"></div>
        <div class="text-temoignage">
          <h4 class="no-margin black">Martin Legrand</h4>
          <p class="margin-bottom-15">Rénovation intérieur</p>
          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        </div>
      </div>
      <div class="temoignage">
        <div class="avatar delay1"></div>
        <div class="text-temoignage">
          <h4 class="no-margin black">Martin Legrand</h4>
          <p class="margin-bottom-15">Rénovation intérieur</p>
          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        </div>
      </div>

    </div>

  <!-- partenaires -->
    <div class="row margin-top-30">
      <h1 class="col-lg-6 offset-lg-3 text-align-center">Nous travaillons avec des acteurs divers et variés</h1>
      <p class="col-lg-8 offset-lg-2 text-align-center margin-bottom-60">Les acteurs de l’habitat et de son amélioration nous font confiance !</p>
    </div>

    <div class="row">
      <div class="partenaire col-lg-2">
        <%= render "shared/illustrations/above" %>
      </div>
      <div class="partenaire col-lg-2">
        <%= render "shared/illustrations/bear" %>
      </div>
      <div class="partenaire col-lg-2">
        <%= render "shared/illustrations/evolve" %>
      </div>
      <div class="partenaire col-lg-2">
        <%= render "shared/illustrations/homely" %>
      </div>
      <div class="partenaire col-lg-2">
        <%= render "shared/illustrations/sunrise" %>
      </div>
      <div class="partenaire col-lg-2">
        <%= render "shared/illustrations/whale" %>
      </div>
    </div>

</div>

<%= render "shared/footer" %>

<script>
  // js repeat in update.js.erb and create.js.erb => DRY

  let inputs = Array.from(document.getElementsByTagName('input'))
  let selecteds = Array.from(document.getElementsByTagName('select'))
  const submit = document.getElementById('send_formulary')

  inputs.forEach((input) => {
    input.addEventListener('change', function(){
      submit.click()
    })
  })
  selecteds.forEach((input) => {
    input.addEventListener('change', function(){
      submit.click()
    })
  })


</script>
