<img class="absolute" style="top: 0; right: 0; width: 50vw;" src="https://res.cloudinary.com/financermonautonomie/image/upload/v1559381956/Illu%20HP/BG_djr1o2.svg" alt="">
<%= render "shared/navbar" %>

<div class="container">

  <!-- Questionnaire -->
  <div class="row">
    <div class="col-lg-5 col-xs-12">

      <h1 class="no-margin">Connectez-vous</h1>
      <p class="margin-bottom-30">Content de vous revoir. Rentrez vos informations personnels pour accéder à votre espace personnel.</p>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
          <%= f.input :password, required: true, input_html: { autocomplete: "current-password" }, label: "Mot de passe" %>
          <div class="row">
            <div class="col-lg-6">
              <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
            </div>
            <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "col-lg-6 text-align-right" %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Se connecter", class: "btn-blue width-100" %>
        </div>
      <% end %>

      <!-- <p class="margin-top-15">Vous n'avez pas encore de compte ? <%#= link_to "Inscrivez-vous ici", new_registration_path(resource_name) %>.</p> -->


    </div>
    <div class="image-connexion col-lg-7 d-none d-sm-block"></div>
  </div>

</div>
