<!-- <img class="absolute" style="top: 0; right: 0; width: 50vw;" src="../assets/BG.svg" alt=""> -->
<%= render "shared/navbar" %>

<div class="container">

  <div class="row margin-top-120">
    <h1 class="col-lg-6 offset-lg-3 col-xs-12 text-align-center">Analyse de vos réponses</h1>
    <p class="col-lg-8 offset-lg-2 col-xs-12 text-align-center margin-bottom-60">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="col-lg-6 avantage" id="financeurs-potentiels" data-formularyid="<%= @formulary.id %>">
      <h2 class="blue text-align-center">Vos financeurs potentiels</h2>
      <!-- <div class="margin-top-60">
        <div class="logo-financeur" style="height: 60px; width: 60px"></div>
        <h4 class="margin-top-15">La caisse de retraite principale</h4>
        <p>Vous avez un projet en tête. Via votre espace personnel, un conseiller vous accompagne dans chaque étape. Vous avez un projet en tête. Via votre espace personnel, un conseiller vous accompagne dans chaque étape. Vous avez un projet en tête. Via votre espace personnel, un conseiller vous accompagne dans chaque étape. </p>
      </div> -->
    </div>

  </div>

  <%= link_to "Mon compte", user_path(current_user) if current_user.present? %>
  <h3>Call API pour les solutions <a href="/api/v1/formularies/<%= @formulary.id %>">-> ici <-</a></h3>
  <div class="row">
    <div class="col-md-5">
      <ol>
        <li><%= @formulary.first_name %></li>
        <li><%= @formulary.zip_code %></li>
        <li><%= @formulary.his_age %> ans</li>
        <li><%= FormularyChoice::YES_NO[@formulary.is_working] %></li>
        <li><%= FormularyChoice::YES_NO[@formulary.loss_of_autonomy_receipt] %></li>
        <li><%= FormularyChoice::OCCUPATION_CHOICES[@formulary.occupation] %></li>
        <li><%= FormularyChoice::HOLDER_OCCUPATION_CHOICES[@formulary.holder_occupation] %></li>
        <li><%= @formulary.lessor %></li>
        <li><%= FormularyChoice::ACCOMMODATION[@formulary.accommodation] %></li>
        <li><%= FormularyChoice::FLOOR[@formulary.floor] %></li>
        <li><%= FormularyChoice::YES_NO[@formulary.accessibility_with_step] %></li>
        <li><%= FormularyChoice::TYPE_OF_PENSION[@formulary.type_of_pension] %></li>
        <li><%= @formulary.pension %></li>
        <li><%= @formulary.supplementary %></li>
        <li><%= FormularyChoice::LOSS_OF_AUTONOMY[@formulary.loss_of_autonomy] %></li>
        <li><%= FormularyChoice::OCCUPANT[@formulary.occupant] %></li>
        <li><%= FormularyChoice::YES_NO[@formulary.owner_is_include] %></li>
        <li><%= FormularyChoice::YES_NO[@formulary.has_partner] %></li>
        <li><%= FormularyChoice::TAXE_REVENUE[@formulary.tax_revenue] %></li>
        <li><%= FormularyChoice::GROSS_INCOME[@formulary.gross_income] %></li>
        <li><%= FormularyChoice::GLOBAL_TAXE_REVENUE[@formulary.global_tax_revenue] %></li>
        <li><%= FormularyChoice::HOUSEHOLD_INCOME[@formulary.household_income] %></li>
        <li><%= FormularyChoice::OWNER_TAXE_REVENUE[@formulary.owner_tax_revenue] %></li>
        <li><%= FormularyChoice::ASSISTANT[@formulary.assistant] %></li>
      </ol>
    </div>
    <div class="col-md-7">
    <p>Supprimer cette partie, c'est juste pour s'assurer que les formulaires fonctionnent</p>
      <p>Match: <%= @solutions.count %> </p>
      <% @solutions.each do |solution| %>
        <%= solution.id %>
      <% end %>
      <br>
      <p>Analyse:</p>
      <ul>
        <% @testing_solutions.each do |key, value| %>
          <% if value != true %>
            <li><%= key %> <%= value %></li>

          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="footer-newsletter-btn">
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Retour", root_path %>
  </div>

</div>

<%= render "shared/footer" %>

<!-- <script>


  const setSolution = (solution) => {
    const div = document.createElement('div')
    div.acceptCharset = "UTF-8"
    div.classList = "margin-top-60"
    // div.id = `edit_formulary_${form.dataset.id}`

    const logoFinanceur = document.createElement("div")
    // div.acceptCharset = "UTF-8"
    logoFinanceur.classList = "logo-financeur"
    logoFinanceur.style = "height: 60px; width: 60px"

    const nomFinanceur = document.createElement("h4")
    // div.acceptCharset = "UTF-8"
    nomFinanceur.classList = "margin-top-15"
    nomFinanceur.innerText = solution.financer.name

    const descriptionFinanceur = document.createElement("p")
    // div.acceptCharset = "UTF-8"
    descriptionFinanceur.classList = "margin-top-15"
    descriptionFinanceur.innerText = solution.financer.description

    div.appendChild(logoFinanceur)
    div.appendChild(nomFinanceur)
    div.appendChild(descriptionFinanceur)


    document.getElementById('financeurs-potentiels').appendChild(div)
  }

  const getSolutions = async function () {
    let response = await fetch("/api/v1/formularies/<%= @formulary.id %>")
    let data = await response.json()

    for (var i = 0; i < data.solutions.length; i++) {
      setSolution(data.solutions[i])
    }
  }
  getSolutions()

</script>

 -->

















