<%= simple_form_for contact, remote: true do |f| %>
  <div class="footer-newsletter-input">
    <div style="display: flex; margin-bottom: 10px; ">
      <%= f.input :email, label: false, placeholder:"Email", wrapper: false, error: 'Cette adresse email est déjà renseigné' %>
      <%= f.input :full_name, label: false, placeholder:"Prénom et Nom", wrapper: false, error: 'Le nom doit être renseigné' %>
    </div>
    <%= f.input :description, label: false, placeholder:"Message", wrapper: false, error: 'Cette adresse email est déjà renseigné' %>
    <div>
      <%= f.submit "S'inscrire", class:"footer-newsletter-btn" %>
    </div>
  </div>
<% end %>
